<template>
    <div>
        Page not found. Are you lost ? Click
        <router-link to="/">here</router-link>
        to get back to the Homepage
    </div>
</template>

<script>
    import AppStore from "@/stores/AppStore";

    export default {
        beforeCreate: () => {
            AppStore.setCurrentTitle('Page not found');
        },
        name: 'Error404'
    }
</script>