<template>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam atque commodi dicta esse illum labore libero maiores neque nisi numquam, odit optio placeat quo recusandae unde ut veniam voluptates!
    </div>
</template>

<script>
    import AppStore from "@/stores/AppStore";

    export default {
        beforeCreate: () => {
          AppStore.setCurrentTitle('Homepage');
        },
        name: 'Home'
    }
</script>