<template>
    <Lists/>
</template>

<script>
    import AppStore from "@/stores/AppStore";
    import Lists from "@/components/lists/Lists";

    export default {
        beforeCreate: () => {
            AppStore.setCurrentTitle('My lists');
        },
        components: {
          Lists
        },
        name: 'MyLists'
    }
</script>