<template>
    <NewItemForm :list-id="id"/>
</template>

<script>
    import AppStore from "@/stores/AppStore";
    import NewItemForm from "@/components/items/NewItemForm";

    export default {
        beforeCreate: () => {
            AppStore.setCurrentTitle('New item');
        },
        props: ['id'],
        components: {
            NewItemForm
        },
        name: 'MyLists'
    }
</script>