<template>
    <NewListForm/>
</template>

<script>
    import AppStore from "@/stores/AppStore";
    import NewListForm from "@/components/lists/NewListForm";

    export default {
        beforeCreate: () => {
            AppStore.setCurrentTitle('New list');
        },
        components: {
            NewListForm
        },
        name: 'MyLists'
    }
</script>