<template>
    <ListView :list="list"/>
</template>

<script>
    import ListView from "@/components/lists/ListView";
    import ListsStorage from "@/stores/ListsStore";
    import AppStorage from "@/stores/AppStore";

    export default {
        created: function() {
          AppStorage.setCurrentTitle(this.list.title);
        },
        beforeRouteUpdate: function(to) {
            this.list = ListsStorage.getList(to.params.id);
        },
        props: ['id'],
        data() {
            return {
                list: ListsStorage.getList(this.id)
            }
        },
        components: {
            ListView
        },
        name: 'MyLists'
    }
</script>