<template>
    <a-list item-layout="horizontal" :data-source="ListsState.lists">
        <a-list-item slot="renderItem" slot-scope="item">
            <router-link slot="actions" :to="'/list/' + item.key">View</router-link>
            <a slot="actions" @click="deleteList(item.key)">Delete</a>
            <a-list-item-meta :description="item.description">
                <router-link slot="title" :to="'/list/' + item.key">{{ item.title }}</router-link>
                <a-avatar slot="avatar" shape="square" :size="100" :src="item.image"/>
            </a-list-item-meta>
            <div>Contains {{ item.items.length }} item(s)</div>
        </a-list-item>
        <a-button type="primary">
            <router-link to="/new-list">
                Create a new list
            </router-link>
        </a-button>
    </a-list>
</template>

<script>
    import ListsStorage from "@/stores/ListsStore";

    export default {
        data() {
            return {
                ListsState: ListsStorage.state
            };
        },
        methods: {
            deleteList: (key) => {
                const {title} = ListsStorage.getList(key);
                if (confirm(`Are you sure you want to delete list : "${title}" ?`)) {
                    ListsStorage.deleteList(key);
                }
            }
        },
        name: 'Lists'
    }
</script>