<template>
    <a-list item-layout="horizontal" :data-source="list.items">
        <a-list-item slot="renderItem" slot-scope="item">
            <a slot="actions" @click="deleteListItem(item.key)">Delete</a>
            <a-list-item-meta :description="'qty: ' + item.quantity">
                <router-link slot="title" :to="'/list/' + item.key">{{ item.title }}</router-link>
                <a-avatar slot="avatar" shape="square" :size="64" :src="item.image"/>
            </a-list-item-meta>
        </a-list-item>
        <a-button type="primary">
            <router-link to="/list/1/add">
                Create a new item
            </router-link>
        </a-button>
    </a-list>
</template>

<script>
    import ListsStorage from "@/stores/ListsStore";

    export default {
        props: ['list'],
        methods: {
            deleteListItem(key) {
                const listId = this.list.key;
                const {title} = ListsStorage.getListItem(listId, key);
                if (confirm(`Are you sure you want to delete list : "${title}" ?`)) {
                    ListsStorage.deleteListItem(listId, key);
                }
            }
        },
        name: 'ListView',
    }
</script>