<template>
    <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" @submit="handleSubmit">
        <a-form-item label="List Title">
            <a-input
                    v-decorator="['listTitle', { rules: [{ required: true, message: 'Please input your list title!' }] }]"
            />
        </a-form-item>
        <a-form-item label="List description">
            <a-input
                    v-decorator="['listDescription']"
            />
        </a-form-item>
        <a-form-item label="List image">
            <a-upload
                    name="image"
                    list-type="picture-card"
                    class="avatar-uploader"
                    action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                    :show-upload-list="false"
                    :before-upload="beforeUpload"
                    @change="handleChange"
            >
                <img v-if="imageUrl" :src="imageUrl" alt="main list image"/>
                <div v-else>
                    <a-icon :type="loading ? 'loading' : 'plus'"/>
                    <div class="ant-upload-text">
                        Upload
                    </div>
                </div>
            </a-upload>
        </a-form-item>
        <a-form-item :wrapper-col="{ span: 5, offset: 5 }">
            <a-button type="primary" html-type="submit">
                Create
            </a-button>
        </a-form-item>
    </a-form>
</template>

<style>
    .avatar-uploader {
        width: max-content;
    }

    .avatar-uploader > .ant-upload {
        width: 128px;
        height: 128px;
    }

    .ant-upload-select-picture-card i {
        font-size: 32px;
        color: #999;
    }

    .ant-upload-select-picture-card .ant-upload-text {
        margin-top: 8px;
        color: #666;
    }
</style>

<script>
    import ListsStorage from "@/stores/ListsStore";

    function getBase64(img, callback) {
        const reader = new FileReader();
        reader.addEventListener('load', () => callback(reader.result));
        reader.readAsDataURL(img);
    }

    export default {
        data() {
            return {
                loading: false,
                imageUrl: '',
                form: this.$form.createForm(this, {name: 'newList'}),
            };
        },
        methods: {
            handleChange(info) {
                if (info.file.status === 'uploading') {
                    this.loading = true;
                    return;
                }
                if (info.file.status === 'done') {
                    // Get this url from response in real world.
                    getBase64(info.file.originFileObj, imageUrl => {
                        this.imageUrl = imageUrl;
                        this.loading = false;
                    });
                }
            },
            beforeUpload(file) {
                const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png';
                if (!isJpgOrPng) {
                    this.$message.error('You can only upload JPG file!');
                }
                const isLt2M = file.size / 1024 / 1024 < 2;
                if (!isLt2M) {
                    this.$message.error('Image must be smaller than 2MB!');
                }
                return isJpgOrPng && isLt2M;
            },
            handleSubmit(e) {
                e.preventDefault();
                this.form.validateFields((err, values) => {
                    if (!err) {
                        const {listTitle, listDescription} = values;
                        ListsStorage.addList(listTitle, listDescription, this.imageUrl);
                        this.$router.push('/my-lists');
                    }
                });
            },
        },
        name: 'NewListForm'
    }
</script>