<template>
    <div id="app">
        <a-layout id="components-layout-demo-custom-trigger">
            <a-layout-sider>
                <Menu/>
            </a-layout-sider>
            <a-layout>
                <Header/>
                <a-layout-content class="centered-content">
                    <router-view></router-view>
                </a-layout-content>
                <Footer/>
            </a-layout>
        </a-layout>
    </div>
</template>

<style>
    .centered-content{
        margin: 2vh 4vw;
        padding: 2vh 2vw;
        background: #fff;
        min-height: 280px;
    }
</style>

<script>
    import Menu from "@/layout/Menu";
    import Footer from "@/layout/Footer";
    import Header from "@/layout/Header";

    export default {
        name: 'App',
        components: {
            Menu,
            Header,
            Footer
        },

    }
</script>
