<template>
    <a-layout-footer class="tiny-footer">
        ShoppyList ©2020 ...
    </a-layout-footer>
</template>

<style>
    .tiny-footer{
        text-align: center;
        padding-top: 0;
    }
</style>

<script>
    export default {
        name: 'Footer'
    }
</script>