<template>
    <a-layout-header style="background: #fff; padding: 0; text-align: center">
        <h1>{{AppState.currentTitle}}</h1>
    </a-layout-header>
</template>

<script>
    import AppStore from "@/stores/AppStore";

    export default {
        data () {
            return {
                AppState: AppStore.state
            }
        },
        name: 'Header'
    }
</script>