<template>
    <div>
        <a-menu class="resizable-menu" mode="inline" theme="dark" :selectable="false">
            <router-link to="/">
                <a-menu-item class="logo-item">
                    <img height="50" :src="logoSrc"/>
                </a-menu-item>
            </router-link>
            <a-sub-menu key="sub1" class="first-menu-item">
                <span slot="title"><a-icon type="appstore"/><span>My lists</span></span>
                <a-menu-item v-for="list in limitedList" :key="list.key">
                    <router-link :to="'/list/' + list.key">{{list.title}}</router-link>
                </a-menu-item>
                <a-button type="link">
                    <router-link to="/my-lists">
                        See all lists
                        <a-icon type="right"/>
                    </router-link>
                </a-button>
            </a-sub-menu>
        </a-menu>
    </div>
</template>

<style>
    .logo-item {
        text-align: center;
        padding-top: 10px !important;
        height: 60px !important;
        background-color: initial !important;
    }

    .resizable-menu {
        width: 100%;
        height: 100vh;
    }

    .first-menu-item {
        text-transform: uppercase;
        margin-top: 30px;
    }
</style>

<script>
    import logo from '../assets/logo.png';
    import ListsStorage from "@/stores/ListsStore";

    export default {
        data() {
            return {
                ListsState: ListsStorage.state,
                logoSrc: logo
            }
        },
        computed: {
            limitedList: function () {
                return  this.ListsState.lists.slice(0,5);
            }
        },
        name: 'Menu'
    }
</script>